<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bopinjia.customer">


    <!-- 添加可以向外拨打电话的权限 -->

    <uses-permission android:name="android.permission.CALL_PHONE"></uses-permission>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <!-- 连接互联网Internet权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- GPS定位权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <!-- 蓝牙分享所需的权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <!-- 友盟分享      start -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <!-- 友盟分享   end -->

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!--<application-->
    <!--android:name=".constants.CustomerApplication"-->
    <!--android:allowBackup="true"-->
    <!--android:hardwareAccelerated="true"-->
    <!--android:icon="@drawable/ic_launcher"-->
    <!--android:label="@string/app_name"-->


    <application
        android:name=".constants.CustomerApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <!--<activity android:name=".StartActivity">-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.MAIN" />-->

        <!--<category android:name="android.intent.category.LAUNCHER" />-->
        <!--</intent-filter>-->
        <!--</activity>-->
        <activity android:name=".TextActivity"></activity>

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.2"></action>
            </intent-filter>
        </service>

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="573a86d167e58ef6990002b8"></meta-data>
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="d8aa7d0740cf9017f3579e8914b56ba6"></meta-data>
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="FXyCcO4zPVUeE5elUL1Zfyysl6bwLpcc" />

        <activity
            android:name=".activity.StartActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".qrcode.CaptureActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.ActivityCategory"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.ActivityHome"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.ActivitySearch"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".activity.ActivityLogin"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.ActivityRegister"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name=".activity.SuccessActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.ActivityAlipayResult"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".activity.ActivityForGetPass"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.ActivitySetPassword"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.ActivityAddressList"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.ActivityAddressDetails"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.ActivityConfirmOrder"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.ActivityOrderList"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.ActivityOrderDetail"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.ActivityMyself"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.ActivitySetting"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.ActivityRetractRequest"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.ActivityRealName"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.ActivityMyTrack"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.ActivityCustomerNews"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.ActivityJoin"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.ActivityRetractList"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.ActivityUserSecurity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.ActivityChangPass"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.ActivityChangePhoneOne"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.ActivityChangePhoneTwo"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.ActivityShopList"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.ActivityMyFavourite"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.ActivityGongYingShangJoin"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.ActivityInformation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.ActivityWelcome"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.ActivityPay"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".activity.ActivityOrderStateList"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.ActivityDuanxinLogin"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".activity.ActivitySelectShip"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.ActivityConfirmOrderProductList"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.ActivityCart"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.ActivityScanResult"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"></activity>
        <activity
            android:name=".activity.ActivityOtherLogin"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>

        <!-- 支付宝未安装时跳转到网页版 -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden"></activity>
        <!--  -->
        <activity
            android:name=".activity.ActivityRefund"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.ActivityAddCartSuccess"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"></activity>
        <activity
            android:name=".activity.ActivityBindLogin"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.ActivityBindRegister"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".activity.ActivityBinding"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.ActivityAdvertisement"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>

        <!-- 微信分享回调  start -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- 微信分享回调  end -->


        <!-- qq分享回调  start -->
        <activity
            android:name="com.umeng.qq.tencent.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1105245015" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.umeng.qq.tencent.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- qq分享回调  end -->


        <!-- 新浪精简版 start -->
        <activity
            android:name="com.umeng.socialize.editorpage.ShareActivity"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.UMDefault" />
        <!-- 新浪精简版end -->

        <activity
            android:name=".activity.ActivityRedPagketList"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.ActivityDayDropRed"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.ActivityNewPersonDropRed"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.ActivityUseRedList"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.ActivityTurntable"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.ActivityFXIntroduce"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.ActivityFXDisLevel"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.ActivityFXDisPay"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.ActivityFXKTSuccess"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.ActivityFXGL"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.ActivityFXSPersonalCenter"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.ActivityFXSStoreInfo"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.ActivityFXCommissionProduct"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.ActivityFXExplosionProduct"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.ActivityFXClientList"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.ActivityFXClientDetails"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.ActivityFXReflect"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.ActivityFXReflectList"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.ActivityFXWallet"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.ActivityFXWalletList"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.ActivityFXOrder"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.ActivityFXOrderDetails"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.ActivityFXQRcode"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.ActivityFXBindCashAccount"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.ActivityFXSubmitAccount"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".WBShareActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ActivityReflectSuccess"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.ActivityThreeClassification"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.ActivityProductListNew"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.ActivityProductDetailsNew"
            android:launchMode="standard"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="app"
                    android:pathPrefix="/customer"
                    android:scheme="open" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ActivitySpecialWebView"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.bopinjia.customer.activityhome.ActivityPersonalCare"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>


    </application>

</manifest>